@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

footer {
  background-color: #f8f9fa;
  height: 60px;
}

.contact h2:first-child {
  font-size: 0.8em;
}

.contact h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin-top: 5px;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.social-link {
  color: inherit;
  padding-right: 10px;
}

.form-control-css {
  padding: 0.8rem;
  margin: 8px 0px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 80%;
}
